// backgrounds
$background-global: #202428;
$background-component: #3e454d;

// fonts
$font-main: #cecece;

$button-default: #00aaed;
$button-active: #75d3f6;
$button-delete: #8d0101;
$button-delete-active: #d20000;
$button-font: #f5f5f5;
$button-upgrade: #f28d2c;
$button-cancel: #cecece;
$button-cancel-active: #f3f3f3;

// toggles
$toggle-start: #0c8d01;
$toggle-stop: #ffc107;

$border-radius: 25px;
